<h1>ととのい</h1>
<ul class="onsens__group">

<% @onsens.each do |onsen| %>
<li class="onsen__wrapper">
<%= image_tag onsen.image.to_s %>
<%= onsen.name %>
<%= onsen.sauna_temperature %>
<%= onsen.water_temperature %>
<%= onsen.address %>
</li>
</ul>
<% end %>

