<%= Gon::Base.render_data %> 
<%= render partial: 'shared/page_title', locals: { page_title: @onsen.name } %>
<% breadcrumb :onsen_show, @onsen %>

<div class="onsenshow__wrapper">
  <div class="onsenshow__data">
  <div class="onsenshow__header">
   <h1 class="onsenshow__head"><%=@onsen.name %></h1> 
    <p class="onsenshow__address"><%=@onsen.address %></p>
    <div class="spec__info">
    <div class="spec__info__sauna spec__info__block">
    <div class="sauna__circle show__spec__margin">サ</div>
    <i class="fas fa-temperature-high fa-2x"></i><span class="spec__info__number"><%=@onsen.sauna_temperature %></span>℃</div>

    <div class="spec__info__water spec__info__block">
      <div class="water__circle show__spec__margin">水</div>
   <i class="fas fa-temperature-low fa-2x"></i><span class="spec__info__number"><%=@onsen.water_temperature %></span>℃
   </div>
   </div>
   </div>
   <div class="onsenshow__img__wrapper">
    <%= image_tag @onsen.image.to_s, size: '335x250',class: "onsenshow__img" %>
    </div>
 <h2 class="onsenshow__headline label__underline">施設メモ</h2>
    <h2 class="onsenshow__headline "></h2>
   <p class="onsen__introduce"><%= safe_join(@onsen.introduce.split("\n"),tag(:br)) %></p>
  </div>
 
 <div class="onsen__circle__group">
 <h2 class="onsenshow__headline label__underline">サ活平均円グラフ</h2>
  <% if @posts.present? %>
   <div class="onsen__circle__wrapper">
  <canvas id="onsenChart"></canvas>
    </div>
    <% else %>
       <%= image_tag "onsen_nodata.png" %>
    <% end %>
  </div>
 </div>
 <div class="showpost__wrapper">
 <div class="showpost__head">
 <h2 class="onsenshow__headline label__underline">みんなのサ活</h2>
</div>
  <% if @posts.present? %>
    <%= render partial: 'posts/postdata', collection: @posts, as: 'post' %>
  <% else %>
<p class="onsenshow__nodata__message">
まだ<%= link_to "サ活投稿", new_post_path,id: "new__post__link"%>がありません!
<br>1番乗りで投稿してみよう! 
</p>
  <% end %>
<br>
<br>
 </div>

