<%= render partial: 'shared/page_title', locals: { page_title: "#{current_user.name}のプロフィール編集" } %>

<% breadcrumb :user_edit, current_user %>
<div class="user__edit__container">
<h2 class="user__edit__title">プロフィール編集</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="user__edit__field">
  <%= image_tag current_user.avatar.url , size: "120", class: "profile__img"%>
  <div class="user__edit__iconbtn__wrapper">
  <p class="user__edit__iconbtn">
 <span><i class="fas fa-camera fa-2x"></i></span><%= f.label :avatar, "プロフィール写真を変更する" %></p>
    <%= f.file_field :avatar ,class:"user__edit__field__icon"%>
  </div>
  </div>

  <div class="user__edit__field">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, autofocus: true, class: "user__edit__name" %>
  </div>



    <div class="user__edit__field">
    <%= f.label :name,"自己紹介文" %>
    <%= f.text_area :self_introduction, class: "user__edit__introduce",rows: "4" %>
  </div>



  <div class="actions">
    <%= f.submit "プロフィールを更新する" ,class: "base__btn"%>
  </div>
<% end %>

<p> <%= button_to "退会はこちら",registration_path(resource_name), data: {confirm: "退会の最終確認です。OKボタンを押すと退会手続きが完了します。" }, method: :delete, class: "retire__btn base__btn" %></p>

</div>