<%= render partial: 'shared/page_title', locals: { page_title: "新規登録ページ" } %>
<% breadcrumb :new_user %>

<div class="signup__contents__wrapper">
<h2 class="signup__head__name">ととのいに新規登録する</h2>
<div class="signup__login__link">
  <%= link_to new_user_session_path, id: "signup__link__color" do%>ログインはこちら<i class="fas fa-angle-double-right"></i>
  <% end %>
</div> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="signup__field">
    <div class="signup__form__feature__wrapper">
      <span class="form__icon"><i class="far fa-user fa-2x"></i></span>
      <%= f.text_field :name, autofocus: true, placeholder: "アカウント名", class: "form-control" %>
    </div>
  </div>

  <div class="signup__field">
    <div class="signup__form__feature__wrapper">
    <span class="form__icon"><i class="far fa-envelope fa-2x"></i></span>
    <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス",autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="signup__field">
  <div class="signup__form__feature__wrapper">
    <span class="form__icon"><i class="fas fa-lock fa-2x"></i></span>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(半角6字以上)", class: "form-control"%>
    </div>
  </div>

  <div class="signup__field">
    <div class="signup__form__feature__wrapper">
      <span class="form__icon"><i class="fas fa-lock fa-2x"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", placeholder: "パスワードを再入力してください"%>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "アカウントを登録する", class: "form__submit__action" %>
  </div>
<% end %>

<div class="signup__others__head">OR</div>
<div class="signup__other__guest__link__wrapper"><%= link_to "ゲストログイン（お試し用）", users_guest_sign_in_path, method: :post, class: "signup__other__guest__link", id: "signup__other__guest__link__color" %></div>

</div>