<%= Gon::Base.render_data %>
<%= render partial: 'shared/page_title', locals: { page_title: @user.name  } %>

<% breadcrumb :user_show, @user %>
<div class="UserMainPage__container">
  <div class="profile__container">
     <div class="profile__body">
          <div class="profile__outer">
               <div class="profile__img__wrapper">
                    <%= image_tag @user.avatar.url , size: "120", class: "profile__img"%>
               </div>
               <div class="profile__name">
               <span><%= @user.name %></span>
               </div>
          </div>
          <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "profile__edit__btn", id: "profile__edit" %>
          <% end %>
     </div>
  </div>
 
  <div class="user__container">
     <div class="user__circle__wrapper">
       <% if @posts.present? %>
          <canvas id= "myChart"></canvas>
          <p class="user__circle__name">サ活の平均</p>
       <% else %>
       <div class="user__emptyposts__icon">
       <i class="fas fa-chart-pie fa-2x"></i>
       </div>
       <p class="empty__description">
       <%=@user.name%>さんのサ活がある場合、<br>サ活の平均円グラフが表示されます。
       </p>
       <% end %>
     </div>

 <div class="user__tab__wrapper">
    <ul class="tab-menu">
      <li class="tab-menu__item"><span class="tab-trigger js-tab-trigger is-active" data-id="tab01"><i class="far fa-clipboard"></i>サ活一覧</span></li>
      <li class="tab-menu__item"><span class="tab-trigger js-tab-trigger" data-id="tab02"><%= image_tag 'onsen_icon.png', size: "25",class: "onsen_icon" %>サ活した施設</span></li>
    </ul>
    
    <div class="tab-contents">
      <div class="tab-content__item js-tab-target is-active" id="tab01">
<%= render partial: 'posts/postdata', collection: @posts, as: 'post' %>
      </div>
      <div class="tab-content__item js-tab-target" id="tab02">
        <% @UserOnsen_data.each do |went| %>
        <div class="WentOnsen">
          <div class="WentOnsen__img">
          <%= link_to image_tag(went.image.to_s , class: :post__onsen__img) ,onsen_path(went.id) %></div>
         <div class="WentOnsen__text">
             <p class="WentOnsen__name"><%= link_to onsen_path(went.id) do%><%= went.name %><% end %></p>
             <p class="WentOnsen__address"><i class="fas fa-map-marker-alt"></i><span class="Onsen__address"><%= went.address %></span></p>
             <div class="temperature__wrapper"> 
              <i class="fas fa-thermometer-half fa-2x"></i> <div class = "sauna__temperature"><span class="sauna__circle">サ</span><%= went.sauna_temperature %>℃</div>
               <div class = "water__temperature"> <span class="water__circle">水</span><%= went.water_temperature %>℃</div>
             </div>
          </div> 
         </div>
      <% end %> 
      </div>
    </div>
  </div>
     <div class="post__wrapper">
 
     </div>

  </div>

</div>


