<div class="UserMainPage__container">
 <%= image_tag avatar_url(@user), class: "round-img" %>
  <h1><%= @user.name %></h1>
  <% if @user == current_user %>
   <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
  <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
  <% end %>
        <div class="row">
          <p>
           <%= @user.email %>
          </p>
        </div>
  <div class="list-group text-center">
    <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
    <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
  </div>

</div>