<div class="UserMainPage__container">
 <%= image_tag avatar_url(@user) , class: "round-img" %>
  <h1><%= @user.name %></h1>
  <% if @user == current_user %>
   <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
  <% end %>
   <% @posts.each do |post| %>
        <div class="user_post">
         <p><%= post.sauna_one %></p>
         <p><%= post.water_one %></p>
         <p><%= post.totonoi_one %></p>
          <p><%= post.totonoi_address %></p>
        </div>
        <% end %>
  <div class="list-group text-center">
    <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
    <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
  </div>

</div>