<%= Gon::Base.render_data %>
<div class="UserMainPage__container">
 <div class="profile__container">
 <%= image_tag @user.avatar.url , size: "200", class: "round-img"%>
  <h1><%= @user.name %></h1>
  <% if @user == current_user %>
   <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
  <% end %>
 <%= link_to "ととのいを記録", new_post_path, class: " post_btn" %>
  <%= link_to "保存ととのい施設", bookmarks_user_path, class: "totonoi_btn" %>
  </div>
 

  <div class="UserCircle__container">
  <canvas id="myChart" width="80%" height="80%"></canvas>
  </div>
<ul class="UserNav">
<li class="UserNav__item"></li>
<li class="UserNav__item"></li>
</ul>
</div>
   <% @posts.each do |post| %>
        <div class="user_post">
         <p><%= post.sauna_one %></p>
         <p><%= post.water_one %></p>
         <p><%= post.totonoi_one %></p>
         <p><%= post.totonoi_address %></p>
        </div>
   <% end %>

