<div class="password____form__reset">

<h2 class = "password__head__name">パスワード変更フォーム</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="password__reset__field">
    <%= f.label :password, t('.new_password') %>
    <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br />
    <% end %>
    <span class="password__reset__icon form__icon"><i class="fas fa-lock fa-2x"></i></span>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="password__reset__field">
    <%= f.label :password_confirmation, t('.confirm_new_password') %>
      <span class="password__reset__icon form__icon"><i class="fas fa-lock fa-2x"></i></span><%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "パスワード変更する" , class: "base__btn password__reset__btn" %>
  </div>
<% end %>

</div>