<div class="password____form__reset">
<h2 class="password__head__name">パスワード再設定</h2>
    <p class='form-bottom-text'>
      入力されたメールアドレスにパスワード再設定メールを送信します
    </p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="reset__form__group">
  <div class="reset__field">
    <span class="form__icon"><i class="far fa-envelope fa-2x"></i></span>
    <%= f.email_field :email,autofocus: true, autocomplete: "email" , class: "form-control" , placeholder: "メールアドレス"%>
  </div>
  </div>
  <div class="reset__form__group">

  </div>
  <div class="reset__actions">
   <%= link_to :back do%>
   <button class="base__btn">戻る</button>
   <% end %>
   <%= f.submit "パスワード再設定メールを送る" ,class: "base__btn reset__submit__btn"%>
  </div>
<% end %>
</div>

