 <%= render partial: 'shared/page_title', locals: { page_title: "サ活の編集ページ" } %>
 <div class="post__container">
  <%= form_with model: @post, url: { action: :update }, html: { class: 'postForm' }, local: true do |f| %>
        <% if @post.errors.any? %>
          <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
        <% end %>
        <%= f.label :"サウナ施設名" %>
        <%= f.text_field :totonoi_address, placeholder: "サウナ施設名" %>
        <%= f.number_field :sauna_one ,placeholder: "サウナの時間" %>
<%= f.number_field :water_one , placeholder: "水風呂の時間" %>
<%= f.number_field :totonoi_one , placeholder: "ととのった時間"%>

<%= f.text_area :memo, placeholder: "サ活の感想を記録してみよう",rows: "5" %>
        <div class="text-center"><%= f.submit "編集する", class: "submitBtn" %></div>
      <% end %>
      </div>
    </div>