<header class="header">
    <div class="header__inner">
    <div class="header__logo">
    <h1 class ="header__title" >
   <%= link_to root_path, class: :header__title do%>
      <%= image_tag 'header-logo.png', alt: "ヘッダーロゴ"%>
  <% end %>
  </h1>
  </div>
<nav class="nav">
<ul class="nav__list">
<% if user_signed_in? %>
  <%# ログイン時 %>
    <li class="nav__item"><%= link_to user_path(current_user), class: "nav__item--link" do%><i class="far fa-user"></i><% end %></li>
    <li class="nav__item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav__item--link" %></li>
<% else %>
  <%# 非ログイン時 %>
  <li class="nav__item"><%= link_to "新規登録", new_user_registration_path, class: "nav__item--link",id: "signup__link"%></li>
 <li class="nav__item"> <%= link_to "ログイン", new_user_session_path, class: "nav__item--link",id: "signin__link"%></li>
  
<% end %>
</ul>
  </nav>
<!--hamburgerボタンー-->
<div class="hamburger__btn">
  <span class="hamburger__btn--parts -top"></span>
  <span class="hamburger__btn--parts -middle"></span>
  <span class="hamburger__btn--parts -bottom"></span>
</div>
<!--hamburgerメニュー-->
<nav class="hamburger">
  <ul class="hamburger__lists">
    <li class="hamburger__list">
      <%= link_to "新規登録", new_user_registration_path, class: "hamburger__link"%>
    </li>
    <li class="hamburger__list">
      <%= link_to "ログイン", new_user_session_path, class: "hamburger__link"%>
    </li>
  </ul>
</nav>
</div>
</header>