 <header class="header">
    <div class="header__inner">
    <div class="header__logo">
    <h1 class ="header__title" >
   <%= link_to root_path, class: :header__title do%>
      <%= image_tag 'header-logo.png', alt: "ヘッダーロゴ"%>
  <% end %>
  </h1>
  </div>
<nav class="nav">
  <ul class="nav__list">
  <% if user_signed_in? %>
    <%# ログイン時 %>

      <li class="nav__item opacity clickslide"> 
        <%= image_tag current_user.avatar.url, size: "40", class: "header__profile__img"%>
        <span><i class="fas fa-caret-down fa-3x"></i></span>
      </li>
      <div class = "dropdown__header" id = "dropdown__header">
      <%= link_to "マイページ", user_path(current_user.id), class: "dropdown__link", id: "dropdown__link"  %>
       <%= link_to "保存した施設", bookmarks_user_path(current_user.id), class: "dropdown__link", id: "dropdown__link" %>

      <%= link_to "サ活を記録", new_post_path, class: "dropdown__link", id: "dropdown__link"%>
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "dropdown__link", id: "dropdown__link"%>
      </div>
      <li class="nav__item"> <%=link_to "サ活を記録", new_post_path, class: "nav__item--link", id: "newpost__link" %></li>
  <% else %>
    <%# 非ログイン時 %>
    <li class="nav__item"><%= link_to "新規登録", new_user_registration_path, class: "nav__item--link",id: "sighup__link"%></li>
  <li class="nav__item"> <%= link_to "ログイン", new_user_session_path, class: "nav__item--link",id: "signin__link"%></li>
    
  <% end %>
  </ul>
</nav>

</div>
</header>